section.team-page.inner-section
	.container
		// хлебные крошки
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная			
			.brcrumg-item
				a(href="#!") Наша команда
		h2.title-30.title-decore  Сильная команда юристов в Саратове
		.aboutus-desk
			.row
				.col-lg-5.col-xl-5
					.aboutus-desk__text
						h3.head-2  Миссия компании:
						p Предоставить качественные юридические услуги в каждом городе России и за ее пределами. Мы являемся коммерческой организацией. Именно поэтому важной целью и условием существования для нас является высокая доходность компании, адекватная качеству оказанных услуг и эффективности всех сотрудников компании.
						+btn('button','Заказать консультацию', '','', '#consultantModal' )
				.col-lg-7.col-xl-7
					.aboutus-desk__rules
						h3.head-2  Наши амбиции:
						.marker-list.marker-list--circle
							ul
								li Стать компанией №1 в России по решению юридических, бухгалтерских и прочих деловых вопросов для людей и бизнеса.
								li Создание лучших условий для сотрудников и партнеров. При условии максимальной отдачи на благо компании и её клиентов.
								li Постоянное внедрение новых продуктов важных для потребителей через усовершенствование действующих подходов и реализацию новых.
								li Достижение максимального качества оказываемых услуг.
		
//наша команда
section.team-persones
	.container
		h2.title-30.title-decore Наши юристы и адвокаты:
		// блок с фото команды
		.one-service-team
			.row
				+teammateCard('team3', 'Константин Андреев', 'Юрист')
				+teammateCard('team4', 'Елена Афанасьева', 'Адвокат')
				+teammateCard('team5', 'Александр Парфенов', 'Юрист')
				+teammateCard('team6', 'Ирина Петрова', 'Юрист')
				+teammateCard('team7', 'Владимир Гончаров', 'Адвокат')
				+teammateCard('team8', 'Александр Головин', 'Адвокат')