section.blog-post.inner-section
	.container
		// хлебные крошки
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item
				a(href="blog.html") Статьи
			.brcrumg-item
				a(href="#!") Как установить отцовство
		// статья
		.post-content
			article.prev-info
				img.post-img(src="img/post.jpg", alt="img" width='480')
				
				.article-text
					p Узаконить материнство в России просто — на основании документов из роддома, подтверждающих рождение ребенка. Если роды проходили вне стен больницы, в ход идут любые медицинские документы и показания свидетелей. А вот с отцовством всё сложнее. Установить отцовство можно через ЗАГС или на основании судебного решения. 
					p К сожалению, радость от рождения ребенка в семье иногда омрачается не слишком приятными обстоятельствами. Одним из таковых может стать нежелание отца ребенка не только принимать участие в жизни ребенка, но даже признавать свое отцовство. 
					p Самый цивилизованный способ добиться последнего - установить отцовство через суд. Сразу стоит оговориться, что необходимость обращения в суд за установлением (или оспариванием) отцовства может возникнуть не только в случае с нерадивым отцом.
			article
				.title-30 Самый цивилизованный способ - установить отцовство через суд.
				p Сразу стоит оговориться, что необходимость обращения в суд за установлением (или оспариванием) отцовства может возникнуть не только в случае с нерадивым отцом. Таковыми также могут быть:
				.marker-list.marker-list--circle
					ul
						li Смерть матери, признание ее недееспособной, невозможность установить место ее нахождения, лишение ее родительских прав (при условии, что в данной ситуации орган опеки и попечительства не дал заявителю согласие на установление отцовства).
						li Отец малыша погиб, но до трагической гибели отказывался признавать факт отцовства. И тогда (при наличии доказательств) мужчина будет признан отцом посмертно. 
						li Рождение ребенка женщиной, состоящей в зарегистрированном браке, но не от супруга (при этом заявление в суд подается супругом как заинтересованным лицом, мать этого сделать не вправе).
						li Потенциальный отец отказывается признавать отцовство.
				.article-text
					p Заявления об установлении отцовства рассматриваются в порядке искового производства (гл. 12 - 22 ГПК РФ). Однако в случае смерти лица, чье отцовство требуется установить, подается заявление об установлении факта отцовства, при этом дело рассматривается в порядке особого производства (как установление факта, имеющего юридическое значение, гл. 28 ГПК РФ). Советуем не путать эти два вида судопроизводства, так как в случае ошибки суд оставит ваше заявление без рассмотрения. 
					p С заявлением в суд может обратиться любое из заинтересованных лиц, среди которых мать ребенка, отец ребенка, опекун ребенка, супруг родившей ребенка женщины или сам ребенок, если он достиг 18-летнего возраста. 
					p Исковое заявление может быть подано как по месту жительства (пребывания) ответчика (ст. 28 ГПК РФ), так и по месту жительства (пребывания) истца (ст. 29 ГПК РФ). Данная категория дел подсудна только районным судам - именно они будут рассматривать заявление в качестве суда первой инстанции. 
					p При подаче заявления необходимо уплатить государственную пошлину в размере 200 рублей, как за иск неимущественного характера (ст. 333.19 НК РФ).
			.attention
				.attention-icon
					img(src="img/info.png", alt="icon")
				p #[span Важно знать!] Своевременное обращение к семейному юристу по разделу имущества предотвратит многие проблемы в будущем.



			article
				.title-30 Алименты и не только
				p Если судом было принято решение об установлении отцовства (либо факта такового в случае смерти отца), и оно вступило в законную силу, то впоследствии заинтересованное лицо имеет право:
				.marker-list.marker-list--number
					ol(start='01.')
						li 
							span Обратиться в органы ЗАГС с заявлением о выдаче свидетельства о рождении, в котором будут указаны данные обоих родителей;
						li 
							span Обратиться в суд с иском о взыскании алиментов, если это требование не предъявлялось одновременно с требованием установления&nbsp;отцовства;
						li 
							span От имени ребенка предъявлять права на наследственное имущество.
			article
				.title-30 В добровольном порядке
				.article-text
					p В добровольном порядке легко разрешить сложившуюся ситуацию. Институт признания отцовства был специально разработан и введен с целью защитить незаконнорожденных детей. В целом в последние три года процент появления на свет деток вне брака существенно увеличился. Ситуации этому могут быть разные, но если потенциальный отец идет навстречу будущей матери, то всегда можно решить все своими силами в ЗАГСе, то есть без обращения в суд. Сделать это не так уж и сложно, главное — желание и согласие отца признать кроху.
					p Посмотрите наше видео, в котором наш юрист расскажет вам об особенностях добровольного установления отцовства
					.video
						video(src="video/video.mp4" controls="controls" width="100%" height="100%")
					p Первое, что следует сделать, — это составить заявку и отнести в ЗАГС. Это должны делать вместе и отец, и мать. Исключением являются ситуации, когда мать погибла, лишена родительских прав, является недееспособной, пропавшей без вести. В этом случае нужно, чтобы в ЗАГС с заявкой обратился один отец. Но важно понимать, что для установления факта отцовства требуется разрешение органов опеки. Если такового документа нет, то все придется выполнять в судебном порядке.
			article
				.title-30 Подавать следует не только заявление, но и ряд документов:
				.docs
					.row
						.col-md-4
							.type-item
								.type-icon
									+dir7
								.type-text
									p Паспорта для удостоверения личности
						.col-md-4
							.type-item
								.type-icon
									+dir8
								.type-text
									p Свидетельство малыша при наличии или же справка из роддома
						.col-md-4
							.type-item
								.type-icon
									+dir9
								.type-text
									p Квитанция, которая подтвердит факт уплаты госпошлины
				p Документы следует подавать в ЗАГС, где был зарегистрирован факт рождения малыша, или же по месту жительства или прописки родителей. Соответствующее свидетельство будет выдано в тот же день.
			article
				.title-30 Как призвать к "генетической ответственности"
				p Суду в качестве доказательств может быть представлен широкий круг доказательств, прямо или косвенно подтверждающих отцовство. Это могут быть документы: личная переписка, в том числе письма электронной почты, аудио-, видеозаписи, фотографии. Кроме того, учитываются свидетельские показания. Так, свидетели могут подтвердить признание отцовства мужчиной, если он в присутствии третьих лиц вел разговоры о ребенке, приобретал детские вещи, передавал деньги на содержание ребенка, посещал мать ребенка в больнице и т.д. И наконец, это может быть экспертиза по методу генетической дактилоскопии - пожалуй, главное доказательство, которое используется при определении отцовства (при условии, что на момент рассмотрения дела судом ответчик жив). 
				p Как правило, генетическая экспертиза назначается судом на самом начальном этапе рассмотрения дела. При этом суд обязывает участников процесса обеспечить ее проведение: в назначенный день ребенок и отец должны явиться в указанное судом медучреждение. На время проведения экспертизы суд обычно приостанавливает производство по делу на основании ст. 216 ГПК РФ. Однако нередки случаи, когда одна из сторон уклоняется от участия в экспертизе. Но не спешите расстраиваться - опасения, что дело однозначно окончится неудачей, могут быть беспочвенны. 
				p Дело в том, что суд вправе признать факт, для выяснения которого экспертиза была назначена, установленным или опровергнутым (ст. 79 ГПК РФ). Суд смотрит на то, какая сторона и по каким причинам не явилась на экспертизу, а также принимает решение о значимости заключения экспертизы, исходя из имеющихся в деле доказательств в их совокупности. Важно отметить, что, несмотря на то, что заключение эксперта является "устойчивым" доказательством, оно не имеет для суда заранее установленной силы, и суд будет оценивать его в совокупности со всеми остальными. 
				p В случае сомнений в объективности результатов экспертизы, судья также вправе назначить ее повторно, поручив ее проведение другому эксперту или экспертному учреждению.