section.direction
	.container
		.direction-cards
			.card-item
				p Мы совершенствуемся, поэтому постоянно меняемся согласно пожеланиям наших клиентов, сотрудников и реалиям рынка
			.card-item
				p Не даем пустых обещаний. Всегда должны быть честны с людьми и искать только взаимовыгодные решения.
			.card-item
				p Большой опыт работы в наследственном, семейном, жилищном, трудовом, земельном, административном и уголовном праве 
			.card-item
				p Более 400<br> выигранных<br> судебных дел 
		.direction-types
			h2.title-30.title-decore Работаем с физическими лицами по направлениям:
			.direction-types__items
				.row
					.col-sm-6.col-xl-4
						.type-item
							.type-icon
								img(src="img/direc1.png", alt="icon")
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-xl-4
						.type-item
							.type-icon
								img(src="img/direc2.png", alt="icon")
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-xl-4
						.type-item
							.type-icon
								img(src="img/direc3.png", alt="icon")
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-xl-4
						.type-item
							.type-icon
								img(src="img/direc4.png", alt="icon")
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-xl-4
						.type-item
							.type-icon
								img(src="img/direc5.png", alt="icon")
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-xl-4
						.type-item
							.type-icon
								img(src="img/direc6.png", alt="icon")
							.type-text
								p Расторжение брака и раздел имущества