section.direction
	.container
		.direction-types
			h2.title-30.title-decore Работаем с физическими лицами по направлениям:
			.direction-types__items
				.row
					.col-sm-6.col-lg-5.offset-lg-1.offset-xl-0.col-xl-4
						.type-item
							.type-icon
								+dir1
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-lg-5.col-xl-4
						.type-item
							.type-icon
								+dir2
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-lg-5.offset-lg-1.offset-xl-0.col-xl-4
						.type-item
							.type-icon
								+dir3
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-lg-5.col-xl-4
						.type-item
							.type-icon
								+dir4
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-lg-5.offset-lg-1.offset-xl-0.col-xl-4
						.type-item
							.type-icon
								+dir5
							.type-text
								p Расторжение брака и раздел имущества
					.col-sm-6.col-lg-5.col-xl-4
						.type-item
							.type-icon
								+dir6
							.type-text
								p Расторжение брака и раздел имущества