//- #overlay
.header-fix
	.container
		.header-fix__content
			a(href="index.html").logo
				img(src="img/logo.png", alt="logo")
				.logo-text
					p Андреев & Панфилов
					p Услуги опытных юристов
			.header-fix__button
				+btn('button', 'Обратный звонок', '', 'light', '#application')
				#menu-toggle--fix.menu-toggle
					span
nav.fix-navigation
	a(href="service.html") Услуги
	a(href="#!") Схема работы
	a(href="#!") Результаты дел
	a(href="our-team.html") Наша команда
	a(href="blog.html") Статьи
	a(href="contacts.html") Контакты
	