section.feedback
	.container
		.feedback-content
			.row
				.col-md-6
					.feedback-column
						h3.title-3 Закажите консультацию юриста в Саратове
						p Мы проконсультируем вас и максимально ответим на все ваши любые вопросы:
						.service-list
							ul
								li Гражданское право
								li Семейное право
								li Уголовное право
								li Трудовое право
						+btn('a','Заказать консультацию', 'index.html' )