#overlay
header.header(style="background-image:url(img/mainBg.jpg);")
	.container
		+headerTop
		.header-center
			h2.head-2.title-decor Представление интересов в суде
			h1.title-1 Опытные юристы в&nbsp;Саратове
			p.subtitle Юридический стаж более 10 лет.
			.header-center__btn
				+btn('button', 'Заказать консультацию', '', 'light')
	+socialIcons