section.info-block.p-150
	.container
		.title-30.title-decore Права супругов при разделе имущества 
		.info-block__text
			p В соответствии с законом, права супругов на раздел имущества равны. Суд, в большинстве случаев, производит раздел имущества в равных долях. Каждому из супругов передаются в собственность конкретные вещи из имущества, подлежащего разделу. 
			p Право совместной собственности на недвижимость, подлежащую разделу, прекращается и возникает долевая собственность. Для раздела имущества в судебном порядке нужно определиться с его перечнем, стоимостью и судом, который будет рассматривать дело. Все это сделает юрист по семейным делам на консультации. 
			p Нужно помнить, что существует имущество, не подлежащее разделу. К такому имуществу относиться добрачное имущество каждого из супругов, подаренные вещи и полученное по наследству. Раздел имущества в гражданском браке также требует особого подхода к определению такого имущества. 
			p Исковое заявление о разделе имущества Вам поможет составить опытный юрист по разделу имущества. Перечень необходимых документов на развод с разделом имущества определяется в каждом конкретном случае индивидуально. Опытный адвокат по разделу имущества поможет с разделом. 
			p В Екатеринбурге разделом имущества занимается адвокат Центра юридических услуг. В какой суд подать на развод с разделом имущества зависит от стоимости имущества, подлежащего разделу. При стоимости имущества, которое Вы хотите себе, до 50 000 руб. дело будет рассматривать мировой судья, а если стоимость выше, необходимо обращаться районный суд. Госпошлина при разделе имущества при разводе определяется исходя из стоимости доли в имуществе, которую вы хотите получить.
			.info-text-warning
				h5 Необходимо помнить!
				p При раздельном проживании бывших супругов велика вероятность того, что часть из совместно купленных вещей может быть продана одним из бывших супругов либо иным образом выбыть из их владения. В этом случае трудно бывает после развода произвести раздел имущества, которого уже нет в наличии. Чем длительнее промежуток времени между расторжением брака и разделом имущества, тем меньше остается доказательств приобретения спорного имущества в период брака: люди со временем могут забыть обстоятельства приобретения определенных вещей, какие-то письменные доказательства просто теряются. При этом нужно помнить, что раздел имущества при разводе происходит в судебном порядке исходя из его рыночной стоимости на момент раздела. Чем длительнее период времени между разводом и разделом имущества, тем больше вещи обесцениваются.
			.attention
				.attention-icon
					img(src="img/icons/info.png", alt="icon")
				p #[span Важно знать!] Своевременное обращение к семейному юристу по разделу имущества предотвратит многие проблемы в будущем.
		