section.news
	.container
		.row
			+newCard('20 мая 2020', 'Услуги', 'Существуют ли бесплатные юридические консультации?')
			+newCard('06 июня 2020', 'Права граждан', 'Несколько вопросов об экспертизе документов.')
			+newCard('20 мая 2020', 'Семейное право', 'Соглашение о разделе наследства: порядок заключения и содержание.')
			+newCard('20 мая 2020', 'Права граждан', 'Что нужно знать о разводе?')
			+newCard('20 мая 2020', 'Разъяснения', '«Аванс» или заработная плата за первую половину месяца ')
			+newCard('20 мая 2020', 'Права граждан', 'Невыплата заработной платы')