section.one-service-description
	.container
		h3.title-30.title-decore Юрист поможет в спорах по разделу имущества и расторжению брака 
		.one-service-benefits
			p Гарантированные условия для вас:
			.benefits-wrapper
				.row
					.col-md-6.col-xl-5
						.marker-list
							ul
								li Осуществляем правовой анализ возникшего спора.
								li Расскажем о всех “подводных камнях” раздела.
								li Подготовим все необходимые бумаги в суд.
								li Поможем собрать доказательства.
								li Направим составленные документы в компетентный суд.
					
					.col-md-6.col-xl-5
						.marker-list
							ul
								li Обеспечим защиту ваших интересов в суде.
								li Будем возражать против доводов другой стороны в споре.
								li Все доводы в защиту будут в материалах вашего дела.
								li Необходимые ходатайства безусловно будут заявлены в суде. 
								li Передадим судебное решение и поможем в его исполнении.