section.one-service.inner-section
	.container
		+brcr
		h2.title-30.title-decore Наши юристы по семейным делам:
		.one-service-team
			.row
				+teammateCard('team3', 'Александр Парфенов', 'Юрист')
				+teammateCard('team4', 'Елена Афанасьева', 'Адвокат')
				+teammateCard('team5', 'Александр Парфенов', 'Юрист')
		
		.row
			+service-cost
			+service-cost
			+service-cost
		.one-service-description
			.marker-list
				ul
					li Осуществляем правовой анализ возникшего спора.
					li Осуществляем правовой анализ возникшего спора.
					li Осуществляем правовой анализ возникшего спора.
					li Осуществляем правовой анализ возникшего спора.
					li Осуществляем правовой анализ возникшего спора.
		.marker-list.marker-list--circle
			ul
				li Фиксированная стоимость при условии аванса
				li Гонорар успеха: сумма определяется в зависимости от достижения требуемого результата в судебном или переговорном процессе 
				li Почасовая оплата работы юриста, исходя из средней ставки 6-8 тысяч рублей в час
				li Комбинация всех вышеперечисленных способов

		.attention
			.attention-icon
				img(src="img/info.png", alt="icon")
			p #[strong Важно знать!] Своевременное обращение к семейному юристу по разделу имущества предотвратит многие проблемы в будущем.
