section.one-service.inner-section
	.container
		+brcr
		h2.title-30.title-decore Наши юристы по семейным делам:
		.one-service-team
			.row
				+teammateCard('team3', 'Александр Парфенов', 'Юрист')
				+teammateCard('team4', 'Елена Афанасьева', 'Адвокат')
				+teammateCard('team5', 'Александр Парфенов', 'Юрист')