include _one-service-team.pug
include _one-service-description.pug

section
	.container
		.row
			+service-cost
			+service-cost
			+service-cost
		
			
		.marker-list.marker-list--circle
			ul
				li Фиксированная стоимость при условии аванса
				li Гонорар успеха: сумма определяется в зависимости от достижения требуемого результата в судебном или переговорном процессе 
				li Почасовая оплата работы юриста, исходя из средней ставки 6-8 тысяч рублей в час
				li Комбинация всех вышеперечисленных способов

		.attention
			.attention-icon
				img(src="img/info.png", alt="icon")
			p #[strong Важно знать!] Своевременное обращение к семейному юристу по разделу имущества предотвратит многие проблемы в будущем.
