section.one-service.inner-section
	.container
		// хлебные крошки
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная
			.brcrumg-item.brcrumg-item--drop
				a(href="service.html") Услуги
				.drop-block
					a(href="one-service.html") Юридическая консультация 
					a(href="one-service.html") Подготовка юридических документов
					a(href="one-service.html") Арбитражные дела 
					a(href="one-service.html") Банковские споры 
					a(href="one-service.html") Банкротство физических лиц 
					a(href="one-service.html") Взыскание долга 
					a(href="one-service.html") Дела о наследовании 
					a(href="one-service.html") Защита прав потребителей 
					a(href="one-service.html") Жилищные споры 
					a(href="one-service.html") Налоговые вычеты 
					a(href="one-service.html") Семейные споры
			.brcrumg-item
				a(href="#!") Расторжение брака и раздел имущества
		
		h2.title-30.title-decore Наши юристы по семейным делам:
		.one-service-team
			.row
				+teammateCard('team3', 'Константин Андреев', 'Юрист')
				+teammateCard('team4', 'Елена Афанасьева', 'Адвокат')
				+teammateCard('team5', 'Александр Парфенов', 'Юрист')