include _one-service-team.pug
include _one-service-description.pug

section.one-service-cost.p-150
	.container
		h3.title-30.title-decore Стоимость услуг юриста:
		.row
			+service-cost(' Консультации ', '2000', 'Консультация юриста по семейным делом продолжительностью до 1 часа')
			+service-cost(' Помощь в суде ', '30 000', 'Юридическое сопровождение развода и раздела имущества в суде')
			+service-cost(' Документы ', '10 000', 'Подготовка документов в суд на развод и раздел имущества')
		
			
		
