.pagination-wrapper
	.pagination-block
		button
			span
				svg(width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M4.95294 7.5L1 4.01759L5 0.5" stroke="#BFBFBF" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round") 
					path(d="M7.95294 7.5L4 4.01759L8 0.5" stroke="#BFBFBF" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round") 
		button
			span
				svg(width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M4.95294 7.5L1 4.01759L5 0.5" stroke="#BFBFBF" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round")
		button.active 1
		button 2
		button 3
		button ...
		button 6
		button
			span
				svg(width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M1.04706 7.5L5 4.01759L1 0.5" stroke="#BFBFBF" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round")
		button
			span
				svg(width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M4.04706 7.5L8 4.01759L4 0.5" stroke="#BFBFBF" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round")
					path(d="M1.04706 7.5L5 4.01759L1 0.5" stroke="#BFBFBF" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round")