section.partners
	.container-fluid
		.d-block.d-lg-none.partners-logo.owl-carousel
			.partners-logo__img(style="background-image:url(img/partner1.png)")
			.partners-logo__img(style="background-image:url(img/partner2.png)")
			.partners-logo__img(style="background-image:url(img/partner3.png)")
			.partners-logo__img(style="background-image:url(img/partner4.png)")
			.partners-logo__img(style="background-image:url(img/partner5.png)")
				
		.d-none.d-lg-flex.partners-static-block
			img(src="img/partner1.png", alt="partner logo")
		
			img(src="img/partner2.png", alt="partner logo")
		
			img(src="img/partner3.png", alt="partner logo")
	
			img(src="img/partner4.png", alt="partner logo")
		
			img(src="img/partner5.png", alt="partner logo")