section.persone-page.inner-section
	.container
		// хлебные крошки
		.brcrumg
			.brcrumg-item
				a(href="index.html") Главная			
			.brcrumg-item
				a(href="#!") Наша команда
		.persone-data
			h2.title-30.title-decore.title-mobile Константин Владимирович Андреев
			.text-block
				.persone-data__photo
					img(src="img/team/team2.jpg", alt="teammate")
					.photo-title
						p Андрей Резник
						p юрист
				
				h2.title-30.title-decore.title-desktope Константин Владимирович Андреев
				p Константин Владимирович Андреев — профессиональный юрист, практикующий в г. Саратове. Для первичного ознакомления с Вашим делом, предлагаю встретиться в моем офисе. Вы также можете получить первичную консультацию по телефону и договориться о личной встрече. При определенных обстоятельствах, готов самостоятельно приехать на встречу в городе или области, для оказания юридической помощи на месте. Имею опыт работы в следственных органах, адвокатуре и судьей федерального суда. 
				p Специализация — гражданско-правовая, что не исключает возможность оказания юридической помощи в различных отраслях права. Квалифицированная юридическая помощь для граждан в области гражданского, административного, земельного, налогового, семейного, трудового права. Арбитраж. Представление интересов в суде. Составление претензий, исковых заявлений и возражений, заявлений, апелляционных, кассационных и надзорных жалоб.
				.persone-data__footer
					+btn('button','Заказать консультацию', '','light', '#consultantModal' )
					.work-document
						a(href="#!" ).certificate.text-14.active
							+linkIcon
							span Смотреть диплом об образовании
					
				

		