section.success
	.container
		.row
			.col-lg-6.order-lg-2
				.success-text
					h2.title-30.title-decore Примеры выигранных дел
					.success-works.owl-carousel
						.success-work__item
							h4 Оспаривание отцовства
							p По общему правилу сведения о матери ребенка вносятся в актовую запись о его рождении на основании справки из роддома. При этом, если на момент рождения ребенка мужчина и женщина состоят в зарегистрированном браке, сведения об отце ребенка вносятся в актовую запись о рождении автоматически на основании свидетельства о браке (такое правило действует также при рождении ребенка в течение трехсот дней со дня расторжения между ними брака). 
							p Оспаривание отцовства возможно лишь в судебном порядке. В целях установления биологического отцовства по подобным спорам проводится судебная молекулярно-генетическая экспертиза, результаты которой учитываются судом при вынесении решения.
						.success-work__item
							h4 Оспаривание отцовства
							p По общему правилу сведения о матери ребенка вносятся в актовую запись о его рождении на основании справки из роддома. При этом, если на момент рождения ребенка мужчина и женщина состоят в зарегистрированном браке, сведения об отце ребенка вносятся в актовую запись о рождении автоматически на основании свидетельства о браке (такое правило действует также при рождении ребенка в течение трехсот дней со дня расторжения между ними брака). 
							
			.col-lg-6.order-lg-1
				.success-img
					img(src="img/docs.png", alt="document")