.container(style="margin-top:50px")
	.temp(class="mb-30")
		button.button  Заказать консультацию
		+btn('button', 'Заказать консультацию')
		+btn('a','Заказать консультацию', 'index.html' )
		+btn('a','Заказать консультацию', 'index.html', 'light' )
		+btn('button', 'Заказать консультацию', '', 'light')
.temp(style="margin-top:50px")
	.header-top
		.container
			.header-top__content
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
					.logo-text
						p Андреев & Панфилов
						p Услуги опытных юристов
				nav.nav-menu
					a(href="#") Услуги адвоката
					a(href="#") Схема работы
					a(href="#") Результаты дел
					a(href="#") Наша команда 
					a(href="#") Цены
					a(href="#") Контакты
					+btn('button', 'Запрос адвокату', '', 'light')
				+btn('button', 'Запрос адвокату', '', 'light')
				.menu-toggle
					span
.temp(style="margin-top:50px")
	.container
		form#contact-form
			h3 Оставьте свою заявку, и мы перезвоним вам в течение 5&nbsp;минут!
			.form-group
				input(type="text" name="userName" )
				span.fake-placeholder Имя
				span.error-notify
				span.error-text Введите имя
			.form-group
				input(type="text" name="userPhone"  class="phone")
				span.fake-placeholder Телефон
				span.error-notify
				span.error-text Введите номер телефона
			.form-group
				textarea(type="text" name="message"  )
				span.fake-placeholder Комментарий к заказу
			.form-group.agree-text
				label(class="form-label")
					input(class="form-checkbox" type="checkbox" name="agreePolitic")
					span.custom-checkbox
					| Принимаю  #[a(href="#") условия обработки] моих данных.
			.form-group
				input.page-btn2(type="submit" value="Отправить")
.marker-list.marker-list--circle
	ul
		li Фиксированная стоимость при условии аванса
		li Гонорар успеха: сумма определяется в зависимости от достижения требуемого результата в судебном или переговорном процессе 
		li Почасовая оплата работы юриста, исходя из средней ставки 6-8 тысяч рублей в час
		li Комбинация всех вышеперечисленных способов

.attention
	.attention-icon
		img(src="img/info.png", alt="icon")
	p #[span Важно знать!] Своевременное обращение к семейному юристу по разделу имущества предотвратит многие проблемы в будущем.