.container(style="margin-top:50px")
	.temp(class="mb-30")
		button.button  Заказать консультацию
		+btn('button', 'Заказать консультацию')
		+btn('a','Заказать консультацию', 'index.html' )
		+btn('a','Заказать консультацию', 'index.html', 'light' )
		+btn('button', 'Заказать консультацию', '', 'light')
.temp(style="margin-top:50px")
	.header-top
		.container
			.header-top__content
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
					.logo-text
						p Андреев & Панфилов
						p Услуги опытных юристов
				nav.nav-menu
					a(href="#") Услуги адвоката
					a(href="#") Схема работы
					a(href="#") Результаты дел
					a(href="#") Наша команда 
					a(href="#") Цены
					a(href="#") Контакты
					+btn('button', 'Запрос адвокату', '', 'light')
				+btn('button', 'Запрос адвокату', '', 'light')
				.menu-toggle
					span
.temp(style="margin-top:50px")
	.container
		.card-wr(style="display: flex")
			.scheme-card
				p.scheme-card-num 01.
				p.scheme-card-title Первый контакт
				p.scheme-card-text Заявка с сайта, телефонный звонок и др. Я перезваниваю по номеру вашего телефона. Краткое ознакомление со сложившейся ситуацией. Договариваемся о встрече.
			.scheme-card
				p.scheme-card-num 01.
				p.scheme-card-title Первый контакт
				p.scheme-card-text Заявка с сайта, телефонный звонок и др. Я перезваниваю по номеру вашего телефона. Краткое ознакомление со сложившейся ситуацией. Договариваемся о встрече. 
			.scheme-card
				p.scheme-card-num 01.
				p.scheme-card-title Первый контакт
				p.scheme-card-text Заявка с сайта, телефонный звонок и др. Я перезваниваю по номеру вашего телефона. Краткое ознакомление со сложившейся ситуацией. Договариваемся о встрече. 
			.scheme-card
				p.scheme-card-num 01.
				p.scheme-card-title Первый контакт
				p.scheme-card-text Заявка с сайта, телефонный звонок и др. Я перезваниваю по номеру вашего телефона. Краткое ознакомление со сложившейся ситуацией. Договариваемся о встрече. 
			.scheme-card
				p.scheme-card-num 01.
				p.scheme-card-title Первый контакт
				p.scheme-card-text Заявка с сайта, телефонный звонок и др. Я перезваниваю по номеру вашего телефона. Краткое ознакомление со сложившейся ситуацией. Договариваемся о встрече.  