.header-inner {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 440px;

	.title-2 {
		color: #fff;
	}

	.header-center {
		padding-top: 60px;
	}

	.icon-block {
		position: relative;
		margin-top: 100px;
		justify-content: flex-start;
		transform: translateX(0);
		bottom: 0;
		left: 0;
	}
}