.success {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: @sec1;
}

.success-work__text {
	padding-left: 30px;
	max-width: 515px;
	padding-top: 80px;

	h4 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	p+p {
		margin-top: 10px;
	}

}