extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_direction.pug
	include ../sections/_success.pug
	include ../sections/_team.pug
	include ../sections/_scheme.pug


block variables
	-var title = "Главная";
	