extends ../layouts/layout.pug
block content
	#overlay
	include ../sections/_fix-header.pug
	+innerHeader('Наша команда', {nav:[{link:'services.html', title: 'Услуги'},
		{link:'index.html', title: 'Схема работы'},
		{link:'resultes.html', title: 'Результаты дел'},
		{link:'our-team.html', title: 'Наша команда'},
		{link:'blog.html', title: 'Статьи', activeClass:'active'},
		{link:'contacts.html', title: 'Контакты'},
		],
		socials:[{type:'fab fa-whatsapp'}, {type:'fab fa-skype'}, {type:'fas fa-video'}]
		}, 'teamPageBg')
	
	include ../sections/_aboutus.pug
	include ../sections/_success.pug
	include ../sections/_direction-simple.pug
	include ../sections/_reviews.pug
	include ../sections/_scheme-simple.pug
	include ../sections/_footer-form.pug	
	+partners
	include ../sections/_footer.pug
	include ../sections/_modals.pug


block variables
	-var title = "Наша команда";