extends ../layouts/layout.pug
block content
	#overlay
	+fixHeader([{link:'servises.html', title: 'Услуги'},{link:'index.html#work-scheme', title: 'Схема работы'},{link:'index.html#success-works', title: 'Результаты дел'},{link:'our-team.html', title: 'Наша команда', activeClass: 'active'},{link:'blog.html', title: 'Статьи'},{link:'contacts', title: 'Контакты'}])
	+innerHeader('Наша команда', {nav:[{link:'services.html', title: 'Услуги'},
		{link:'index.html', title: 'Схема работы'},
		{link:'resultes.html', title: 'Результаты дел'},
		{link:'our-team.html', title: 'Наша команда', activeClass:'active'},
		{link:'blog.html', title: 'Статьи'},
		{link:'contacts.html', title: 'Контакты'},
		],
		socials:[{type:'fab fa-whatsapp'}, {type:'fab fa-skype'}, {type:'fas fa-video'}]
		}, 'teamPageBg')
	
	include ../sections/_aboutus.pug
	include ../sections/_success.pug
	include ../sections/_direction-simple.pug
	include ../sections/_reviews.pug
	include ../sections/_scheme-simple.pug
	include ../sections/_footer-form.pug	
	+partners
	include ../sections/_footer.pug
	include ../sections/_modals.pug


block variables
	-var title = "Наша команда";